body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden  ;
}

.head{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-left: 100px;
}
a {
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover {
    color: #355E3B;
}
nav {
    background-color: #ffffff;
    margin: -10px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-logo {
    margin: 0;
    width: 80px;
    height: 70px;
    margin-top: -20px;
    margin-left: -10px;
    position: absolute;
}

.div1 {
    display: block;
    height: 300px;
    position: absolute;
    width: 1000px;
    background-color: #BCB88A;
    margin: 50px;
    margin-left: 180px;
    color: rgb(0, 0, 0);
    padding: 20px 70px;
    font-size: 20px;
    text-align: justify;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.kape {
    height: 200px;
    float: right;
    margin-top: -225px;
    margin-right: 100px;
}

.div2 {
    display: block;
    height: 300px;
    width: 1000;
    margin-top: 420px;
    margin-left: 180px;
    margin-bottom: 40px;
    background-color: #BCB88A;
    color: rgb(0, 0, 0);
    padding: 20px 70px;
    font-size: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.bake {
    height: 200px;
    float: right;
    margin-top: -200px;
    margin-right: 100px;
}

footer{
    text-align: center;
    padding: 50px;
    margin: -10px;
    margin-top: 20px;
    font-size: 12px;
}

.nav-foot{
    background-color: white;
    width: 1200px;
    text-align: center;
    margin-left: 8.5%;
    margin-top: 100px;

}

.nav-foot a{
    margin: 70px;
}

